{% extends "layout.html" %}
{% set active_page = 'about' %}
{% block body %}
	<h2>About</h2>
	<p>I've had some other people ask me if I knew a place to find multicraft jar configs. I didn't, and haven't been able to find one. So this week, I asked again by Luke over at PPX Hosting. I decided, since I've been wanting to learn Python for a while and this site would be simple enough, to make one.</p>
	<p>So, I present to you http://multicraft.ix.gd/! This simple site is both a generator and a sharing platform for Multicraft's .jar.conf files. It's also open source, on <a href="https://github.com/connor4312/multicraft.conf">Github</a>. I had fun making it, and I hope you server admins out there find it useful.</p>
	<p>This site was built by <a href="http://connorpeet.com">Connor Peet</a> and is hosted by <a href="https://ferrousmc.com">FerrousMCM</a></p>
{% endblock %}