{% extends "layout.html" %}
{% block body %}
<form class="form-horizontal" role="form" action="{{ url_for('show_view') }}" method="POST">
	<h2>Config</h2>
	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="config_name" placeholder="Craftbukkit Beta">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Source</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="config_source" placeholder="http://cbukk.it/craftbukkit-beta.jar">
			<span class="help-block">Where to download the jar file from.</span>
		</div>
	</div>

	<section class="collapsable" data-default="hidden">
		<div class="js-head">
			<h2>Encoding (Danger)</h2>
			<p>The defaults are fine for most jars. Only change this if you know what you're doing!</p>
		</div>
		<div class="js-reveal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Encoding</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="encoding_encoding" placeholder="system" value="system">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Decoding</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="encoding_decoding" placeholder="system" value="system">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">File Encoding</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="encoding_fileEncoding" placeholder="latin-1" value="latin-1">
				</div>
			</div>
		</div>
	</section>

	<section class="collapsable" data-default="hidden">
		<div class="js-head">
			<h2>Start Command (Danger)</h2>
			<p>Only change this if you know what you're doing!</p>
		</div>
		<div class="js-reveal">
			<div class="form-group">
				<label class="col-sm-2 control-label">File Encoding</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="start_command" placeholder='"{JAVA}" -Xmx{MAX_MEMORY}M -Xms{START_MEMORY}M -Djline.terminal=jline.UnsupportedTerminal -jar "{JAR}" nogui' value='"{JAVA}" -Xmx{MAX_MEMORY}M -Xms{START_MEMORY}M -Djline.terminal=jline.UnsupportedTerminal -jar "{JAR}" nogui'>
				</div>
			</div>
		</div>
	</section>

	<section class="collapsable" data-default="hidden">
		<div class="js-head">
			<h2>Settings</h2>
			<p>Only change this if you know what you're doing!</p>
		</div>
		<div class="js-reveal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Restart on Timeout</label>
				<div class="col-sm-10">
					<div class="switch has-switch">
						<div class="switch-on">
							<input type="checkbox" checked="1" data-toggle="switch" name="settings_restartOnTimeout">
							<span class="switch-left">YES</span>
							<label>&nbsp;</label>
							<span class="switch-right">NO</span>
						</div>
					</div>
					<span class="help-block">Restart if the server decides to die D:</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Log File</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="settings_logFile" placeholder="server.log" value="server.log">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Rotate Log</label>
				<div class="col-sm-10">
					<div class="input-group">
						<input type="text" class="form-control" name="settings_logRotateSize" placeholder="No Rotation">
						<span class="input-group-addon">MB</span>
					</div>
					<span class="help-block">Rotate the log file if it gets this big (blank for no rotation).</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Number of Log Backups</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="settings_logBackupCount" placeholder="5">
					<span class="help-block">If rotation is on, only this number of backups will be kept.</span>
				</div>
			</div>
			<p>Note: There are many more jar options, this just covers the ones you'd normally use. If you want to use a more exotic jar or setup, you can open up your jar.conf's and read the comments!</p>
		</div>
	</section>

	<section class="collapsable" data-default="hidden">
		<div class="js-head">
			<h2>Plugins</h2>
			<p>This is generally fine how it is.</p>
		</div>
		<div class="js-reveal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Plugin Directory</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="plugins_pluginDir" placeholder="plugins" value="plugins">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Plugin Name Match</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="plugins_pluginMatch" placeholder="\.(jar|zip)$" value="\.(jar|zip)$">
					<span class="help-block">This is a <i>regular expression</i>. If you don't know what that means, you probably don't want to be touching it!</span>
				</div>
			</div>
		</div>
	</section>

	<section class="collapsable" data-default="hidden">
		<div class="js-head">
			<h2>Commands</h2>
			<p>This needs changing for some non-Bukkit servers.</p>
		</div>
		<div class="js-reveal">
			<div class="form-group">
				<label class="col-sm-2 control-label">/say Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_say" placeholder="say" value="say">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/list Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_list" placeholder="list" value="list">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/save-on Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_save-on" placeholder="save-on" value="save-on">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/save-off Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_save-off" placeholder="save-off" value="save-on">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/stop Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_stop" placeholder="stop" value="stop">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/tell Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_tell" placeholder="tell" value="tell">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/give Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_give" placeholder="give" value="give">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/tp Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_tp" placeholder="tp" value="tp">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/deop Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_deop" placeholder="deop" value="deop">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/op Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_op" placeholder="op" value="op">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/pardon-ip Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_pardon-ip" placeholder="pardon-ip" value="pardon-ip">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/ban-ip Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_ban-ip" placeholder="ban-ip" value="ban-ip">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/pardon Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_pardon" placeholder="pardon" value="pardon">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/ban Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_ban" placeholder="ban" value="ban">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/kick Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_kick" placeholder="kick" value="kick">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">/help Equivalent</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="commands_help" placeholder="help" value="help">
				</div>
			</div>
		</div>
	</section>

	<h2>Additional Configurations</h2>
	<p>Use this section if you need to set some configuration outside of what is shown here.</p>


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Preview Generation</button>
			<button type="submit" class="btn btn-primary">Post!</button>
		</div>
	</div>
</form>
{% endblock %}